In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-04-17 17:54:49,-33.9258,18.4232,69.01,63,0,5.75
1,1,Atuona,PF,2021-04-17 17:54:50,-9.8000,-139.0333,80.46,74,70,17.69
2,2,Coquimbo,CL,2021-04-17 17:54:50,-29.9533,-71.3436,62.60,72,40,11.50
3,3,Tigzirt,DZ,2021-04-17 17:54:51,36.8886,4.1198,54.05,59,38,2.39
4,4,Punta Arenas,CL,2021-04-17 17:54:51,-53.1500,-70.9167,53.60,58,75,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-04-17 17:54:50,-9.8000,-139.0333,80.46,74,70,17.69
9,9,Robertsport,LR,2021-04-17 17:54:53,6.7533,-11.3686,80.89,76,100,3.27
14,14,Georgetown,MY,2021-04-17 17:54:55,5.4112,100.3354,82.99,83,40,4.61
15,15,Puerto Ayora,EC,2021-04-17 17:54:55,-0.7393,-90.3518,78.01,93,100,3.00
23,23,Adrar,MR,2021-04-17 17:54:59,20.5022,-10.0711,88.11,14,0,10.67
25,25,Empalme,MX,2021-04-17 17:54:59,27.9667,-110.8167,82.99,36,1,6.91
28,28,Vanimo,PG,2021-04-17 17:52:21,-2.6741,141.3028,75.47,88,99,4.25
29,29,Rikitea,PF,2021-04-17 17:55:01,-23.1203,-134.9692,76.86,69,96,9.62
36,36,Miri,MY,2021-04-17 17:55:04,4.4148,114.0089,78.80,89,40,3.44
37,37,Arraial Do Cabo,BR,2021-04-17 17:55:04,-22.9661,-42.0278,82.40,73,40,25.32

In [24]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Atuona      PF     80.46  -9.8000 -139.0333
9       Robertsport      LR     80.89   6.7533  -11.3686
14       Georgetown      MY     82.99   5.4112  100.3354
15     Puerto Ayora      EC     78.01  -0.7393  -90.3518
23            Adrar      MR     88.11  20.5022  -10.0711
25          Empalme      MX     82.99  27.9667 -110.8167
28           Vanimo      PG     75.47  -2.6741  141.3028
29          Rikitea      PF     76.86 -23.1203 -134.9692
36             Miri      MY     78.80   4.4148  114.0089
37  Arraial Do Cabo      BR     82.40 -22.9661  -42.0278

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,80.46,-9.8000,-139.0333,Villa Enata
9,Robertsport,LR,80.89,6.7533,-11.3686,Kwepunha Retreat
14,Georgetown,MY,82.99,5.4112,100.3354,Cititel Penang
15,Puerto Ayora,EC,78.01,-0.7393,-90.3518,Finch Bay Galapagos Hotel
23,Adrar,MR,88.11,20.5022,-10.0711,
25,Empalme,MX,82.99,27.9667,-110.8167,casa alejandro lopez
28,Vanimo,PG,75.47,-2.6741,141.3028,Vahmoneh Lodge Vanimo
29,Rikitea,PF,76.86,-23.1203,-134.9692,Pension Maro'i
36,Miri,MY,78.80,4.4148,114.0089,"Mega Hotel, Miri"
37,Arraial Do Cabo,BR,82.40,-22.9661,-42.0278,Pousada Porto Praia

In [54]:
hotel_df["Hotel Name"].value_counts()

                                                           10
LT Aparthotel                                               2
Holiday Inn Express & Suites Elk Grove Central - Hwy 99     1
Pension Maro'i                                              1
casa alejandro lopez                                        1
                                                           ..
LANDU MARINEZA LUFUANDU TONI                                1
LIKWALE LODGE                                               1
Lorengau Harbourside Hotel                                  1
Aipana Plaza Hotel                                          1
Casa Tia Villa                                              1
Name: Hotel Name, Length: 148, dtype: int64

In [56]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [58]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))